$logo_green: rgb(0, 71, 18);
$logo_blue: rgb(0, 43, 92);

$body_text_color: $logo_blue;
$body_text_selection_color: desaturate(lighten($logo_green, 45%), 50%);
$body_background_color: #fff;
$body_background_accent_color: #f0f0f0;
$footer_background_color: #000;

$link_color: lighten($body_text_color, 30%);
$link_visited_color: lighten($logo_green, 5%);
$link_active_color: lighten($logo_green, 20%);
