@import "colors";

$relative-font-sizing: true;
$font-unit: 1rem;
/*$base-font-size: 16px;
$base-line-height: 22px;
*/
@import "compass";
@import "compass/typography";
@import "compass/typography/vertical_rhythm";
@import "compass/css3";

@mixin subtle_link {
  &, &:link, &:visited {
    color: $link_color;
    border-bottom: none;
  }
  &:hover {
    color: $link_active_color;
  }
}

@mixin subtle_links {
  a {
    @include subtle_link;
  }
}

@mixin bold {
  font-weight: 700;
}

@mixin bordered_image($width: 4px, $border_radius: 4px) {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: $width;
  @include border-radius($border_radius);
  @include single-box-shadow($color: rgba(0,0,0,0.25), $blur: $width, $inset: inset);
}
