@import "colors";

$relative-font-sizing: true;
$font-unit: 1rem;
/*$base-font-size: 16px;
$base-line-height: 22px;
*/
@import "compass";
@import "compass/reset";
@import "compass/typography";
@import "compass/typography/vertical_rhythm";
@import "compass/css3";

@mixin subtle_link {
  &, &:link, &:visited {
    color: $link_color;
    border-bottom: none;
  }
  &:hover {
    color: $link_active_color;
  }
}

@mixin subtle_links {
  a {
    @include subtle_link;
  }
}

@mixin bold {
  font-weight: 700;
}
