@import "standard_declarations";

body {
  background-color: $footer_background_color;
}

.container {
  background: $body_background_color url('/assets/linen_texture.jpg') repeat;
}

@mixin behave_with_the_grid {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  margin-left: -20px;
}

#page_header {
  @include padding_leader(1);
  @include margin_trailer(1);
  @include behave_with_the_grid;
  @include background-image(linear-gradient(#fff 50%, $body_background_accent_color));
  border-bottom: 1px solid darken($body_background_accent_color, 4%);
  @include single-box-shadow(rgba(0,0,0, 0.1), 0px, 2px, 8px);
  
  #branding {
    float: left;
    @include subtle_links;
    @include margin_trailer(1);
  }
  
  #language_switcher {
    float: right;
    @include subtle_links;
    @include adjust-font-size-to($base-font-size * 0.75, $lines: 1);
  }
}

#primary_menu {
  @include subtle_links;
  float: left;
  padding-top: 63px;
  margin-left: 10%;
  ul {
    float: left;
    list-style-type: none;
    padding-left: 0;
    li {
      float: left;
      margin-right: 1rem;
      a {
        @include padding_leader(0.5);
        @include padding_trailer(0.5);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
      &.last { margin-right: 0; }
      &.selected {
        a {
          color: $link_visited_color;
          font-weight: bold;
          pointer: default;
        }
      }
    }
  }
}

#footer {
  @include margin_leader(2);
  @include padding_leader(1);
  @include padding_trailer(2);
  @include behave_with_the_grid;
  @include background-image(linear-gradient(desaturate($logo_blue, 50%), $footer_background_color));
  border-top: 2px solid darken($body_text_color, 50%);
  color: #aaa;
  a, a:link { color: lighten($link_color, 50%); }
  
}

@media handheld, only screen and (max-width: 767px) {
  #page_header, #footer {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    & > .row {
      padding-left: 20px;
      padding-right: 20px;
      @include box-sizing(border-box);
    }
  }
  #body_content {
    padding-left: 20px;
    padding-right: 20px;
    @include box-sizing(border-box);
  }
  
  #primary_menu {
    clear: left;
    margin-left: 0;
    padding-top: 0;
    li.first {
      a { padding-left: 0; }
    }
  }
}