@import "standard_declarations";

#privacy_link {
  @include adjust_font_size_to($base-font-size * 0.75);
}

#application_parts {
  li {
    padding-left: 20px;
    &.current {
      @include bold;
    }
    &.complete {
      background: transparent image-url('icon_check_small.png') left center no-repeat;
    }
    &.incomplete {
      background: transparent image-url('icon_warning_small.png') left center no-repeat;
    }
  }
}

body.home_page {
  #page_header {
    margin-bottom: 0;
    z-index: 20;
  }
  #page_header + .row {
    position: relative;
    z-index: 10;
  }
  #gallery {
    list-style-type: none;
    padding-left: 0;
    position: relative;
    height: 500px; // height of the images
    @include margin-trailer(1.5);
    li + li { display: none; }
    li {
      position: absolute;
      display: block;
      text-align: center;
      img {
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-top: none;
        @include border-corner-radius(bottom, left, 5px);
        @include border-corner-radius(bottom, right, 5px);
      }
      p {
        position: absolute;
        bottom: 1.5rem;
        left: 30px;
        max-width: 1080px;
        margin: 0 auto;
        text-align: left;
        @include adjust-font-size-to($base-font-size * 2, $lines: 3);
        @include bold;
        color: #fff;
        @include single-text-shadow(2px, 2px, 8px, false, rgba(0,0,0, 0.75));
      }
    }
  }  
}
