@import "standard_declarations";
@include establish-baseline;

body {
  font-family: 'Cabin', 'Trebuchet MS', 'Trebuchet', sans-serif;
  color: $body_text_color;
}

.container {
  @include adjust-font-size-to($base-font-size, $lines: 1);
}

h1 {
  @include adjust-font-size-to($base-font-size * 3, $lines: 4);
  color: $logo_green;
}

h2 {
  @include adjust-font-size-to($base-font-size * 2, $lines: 3);
}

h3 {
  @include adjust-font-size-to($base-font-size * 1.5, $lines: 2);
}

h4 {
  font-weight: bold;
}

p, ul, blockquote {
  @include trailer;
}

a, a:link {
  color: $link_color;
  text-decoration: none;
  border-bottom: 1px solid;
  &.image { border-bottom: none; }
}
a:visited { color: $link_visited_color; }
a:hover, a:active { color: $link_active_color; }

a.button {
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  color: #fff;
  border: 1px solid $logo_blue;
  text-align: center;
  @include adjust_font_size_to($base-font-size * 1.5);
  @include padding_leader(0.5);
  @include padding_trailer(0.5);
  @include margin_leader(1);
  @include margin_trailer(1);
  @include border-radius(5px);
  @include single-text-shadow($logo_blue, 0, -1px, 1px);
  @include background-image(linear-gradient(top, desaturate(lighten($logo_blue, 40%), 40%), lighten($logo_blue, 10%)));
  &:active {
    @include background-image(linear-gradient(top, lighten($logo_blue, 10%), desaturate(lighten($logo_blue, 40%), 40%)));
  }
}

#sidebar {
  @include adjust-font-size-to($base-font-size * 0.875, $lines: 1);
  h1 { @include adjust-font-size-to($base-font-size * 1.5, $lines: 2) }
  h2 { @include adjust-font-size-to($base-font-size * 1.25, $lines: 2) }
  h3 { @include adjust-font-size-to($base-font-size * 1, $lines: 1) }
}
